nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: blueviolet;
    color: #fff;
    padding: 0 2vw;
    width: 100vw;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    width: 30vw;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 15vw;
    height: inherit;
} 

.social-media{
    width: 9vw;
    justify-content: space-between;
    margin-right: 10vw;
}

.signup-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
}

.signup-login div{
    border: #fff solid 1.5px;
    border-radius: 5px;
    padding: 7px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

.bi{
    font-size: larger;
}

.bi.bi-currency-bitcoin{
    font-size: xx-large;
}

.company-name-logo{
    display: flex;
    justify-self: center;
    align-items:baseline;
    font-family: 'Varela Round', sans-serif;
    margin-right: 5vw;
}

.company-name-logo span{
    font-size: larger;
    font-weight: 700;
}

.list{
    background: transparent;
    color: #fff;
    border: solid #fff 1px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    display: none;
}

@media screen and (max-width: 415px) {
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: 0.4s ease;
    }

    nav > *{
        width: 100vw;
        margin: 0;
    }

    .company-name-logo{
        justify-content: center;
        align-items: center;
    }

    .links{
        margin: 10px 0 0 0;
        width: 100vw;
        box-sizing: border-box;
        /* padding: 5px; */
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .social-media{
        width: 25vw;
        margin: 5px 0; 
    }

    
    .links > *{
        margin: 5px 0;
    }
    .signup-login{
        width: 33vw;
        display: flex;
        justify-content: space-between;
        margin: 20px 10vw; 
    }

    .links, .social-media, .signup-login{
        transition: 0.4s ease;
        /* border: solid red 1px;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
        height: 0; */
        display: none;
    }
    
    .visible{
        display: flex;
    }

    /* .signup-login.visible{
        display: flex;
    } */

    .list{
        display: inline-block;
        position: absolute;
        left: 10px;
    }

    .list:active{
        background-color: white;
        color: blueviolet;
    }
}